body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #283c86, #45a247);
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title {
    margin-top: 20px;
    font-size: 36px;
}

.info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

button {
    padding: 8px 16px;
    background: #ffd84d;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ffca2a;
}

.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 10px;
}

.card {
    width: 100%;
    height: 100%;
    background: #ffffff33;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.card.flipped {
    background: white;
    color: black;
}

.card.matched {
    background: #15ff7c;
    color: black;
}
